
<section class="archives relative my-10 first-of-type:mt-0 last-of-type:mb-0">
    {{ if gt .Weight 0 }}
    <span
        style="display: block; margin-top: -2ex !important;"
        class="mb-2 ml-px inline-block text-[0.8rem] font-medium uppercase tracking-wider text-[#ff3b2d] opacity-70"
    >
        Featured
    </span
    >
    {{ end }}
    <a class="nostylelink" href="{{ .Permalink}}">
        <h5 class="!my-0 pb-1 !leading-none">{{ .Title | markdownify }}</h5>
        <time class="text-sm antialiased opacity-60"
            >{{ .Date | time.Format ":date_medium" }}</time
        >
    </a>
    {{/*  <a class="absolute inset-0 text-[0]" href="{{ .Permalink}}">{{ .Title | markdownify }}</a>  */}}
</section>
